html {
  height: 100%;
  width: 100%;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th, td{
  border: 2px solid black;
  padding:  8px
  text-align: center;
  background-color: gold;
  color:red;
  font-family: comic sans ms;
  font-size: 20px;
  font-weight: bold;
}
h1{
  color: red; /*cor do titulo*/
  font-family: comic sans ms;
  font-size: 20px;
  font-weight: bold;
}
p {
  color: red; /*cor do paragrafo*/
  font-family: comic sans ms;
  font-size: 15px;
  font-weight: bold;
}
td {
  color:red; /*cor do texto dentro da tabela*/
  font-family: comic sans ms;
  font-size: 20px;
  font-weight: bold;
}
 body{
   background-color:black; /*Define a cor do fundo da pagina*/
 }  

 #artistas{
  background-color: chartreuse;
  border: 2px solid;
  padding: 
}

.titulo{
  color:red; /*cor do texto dentro da tabela*/
  font-family: comic sans ms;
  font-size: 20px;
  font-weight: bold;
}
  
/* --- ESTILO PARA O FORMULARIO --- */

.form-container {
  max-width: 600px;
  margin: 30px auto;
  background-color: #fff5f8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #dcb;
}

form{
  display: flex;
  flex-direction: column;
}

form label{
  margin-top: 15px;
  font-weight: bold;
  color: brown;
}



form input,
form select,
form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
  }

  form textarea {
    resize: vertical;
  }

  form button {
    margin-top: 25px;
    padding: 12px;
    font-size: 18px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  form button:hover{
    background-color: #a0522d;
  }